In [1]:
!wget https://calmcode.io/static/data/titanic.csv

--2025-06-23 11:08:22--  https://calmcode.io/static/data/titanic.csv
Resolving calmcode.io (calmcode.io)... 162.159.140.98, 172.66.0.96, 2a06:98c1:58::60, ...
Connecting to calmcode.io (calmcode.io)|162.159.140.98|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39720 (39K) [application/octet-stream]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  38.79K  --.-KB/s    in 0.01s

2025-06-23 11:08:23 (3.64 MB/s) - ‘titanic.csv’ saved [39720/39720]

In [2]:
import pandas as pd

# Load the downloaded dataset
df = pd.read_csv("titanic.csv")

# Show the first 5 rows
df.head()

,survived,pclass,name,sex,age,fare,sibsp,parch
0,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,1,0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,1,0
2,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,0,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,1,0
4,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,0,0

In [3]:
# Check the structure of the dataset
df.info()

# Check how many values are missing in each column
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  714 non-null    int64
 1   pclass    714 non-null    int64
 2   name      714 non-null    object
 3   sex       714 non-null    object
 4   age       714 non-null    float64
 5   fare      714 non-null    float64
 6   sibsp     714 non-null    int64
 7   parch     714 non-null    int64
dtypes: float64(2), int64(4), object(2)
memory usage: 44.8+ KB

survived    0
pclass      0
name        0
sex         0
age         0
fare        0
sibsp       0
parch       0
dtype: int64

In [4]:
# 1. Fill missing Age with the median age
df['Age'].fillna(df['Age'].median(), inplace=True)

# 2. Fill missing Embarked with the most common value (mode)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# 3. Drop the Cabin column (too many missing values)
df.drop(columns=['Cabin'], inplace=True)

# 4. Check again for missing values
df.isnull().sum()

KeyError: 'Age'

In [7]:
# 1. Fill missing 'age' with the median age
df['age'].fillna(df['age'].median(), inplace=True)

# 2. If 'embarked' column is missing too, let's check and handle it
# But your dataset doesn't have 'embarked' or 'cabin' — so we skip those

# 3. Recheck for missing values
df.isnull().sum()

/tmp/ipython-input-7-486716063.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)

survived    0
pclass      0
name        0
sex         0
age         0
fare        0
sibsp       0
parch       0
dtype: int64

In [8]:
# Convert 'sex' column to numbers: female = 0, male = 1
df['sex'] = df['sex'].map({'female': 0, 'male': 1})

# Check if it worked
df.head()

,survived,pclass,name,sex,age,fare,sibsp,parch
0,0,3,"Braund, Mr. Owen Harris",1,22.0,7.2500,1,0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,71.2833,1,0
2,1,3,"Heikkinen, Miss. Laina",0,26.0,7.9250,0,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,53.1000,1,0
4,0,3,"Allen, Mr. William Henry",1,35.0,8.0500,0,0

In [6]:
df.columns

Index(['survived', 'pclass', 'name', 'sex', 'age', 'fare', 'sibsp', 'parch'], dtype='object')

In [5]:
df['age'].fillna(df['age'].median(), inplace=True)

/tmp/ipython-input-5-1654433547.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)